* {
	box-sizing: border-box;
}

.items {
	width: 800px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 4px;
	/* Обязательно задается фиксированная высота */
	height: 500px;
}

.item {
	width: calc(100% / 3);
}

.item {
	padding: 5px;
}

.item:nth-child(4n + 1) {
	background-color: #8c4ff6;
}
.item:nth-child(4n + 2) {
	background-color: lightgreen;
}
.item:nth-child(4n + 3) {
	background-color: #237ff8;
}
.item:nth-child(4n) {
	background-color: lightcoral;
}
